@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #fff;
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%);
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 12vw;
    line-height: 1em;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
}

i {
    position: absolute;
    background-image: url(love.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: animate 5s linear infinite;
    display: block;
}

@keyframes animate {
    0% {
        transform: translatey(calc(100vh + 350px));
    }

    100% {
        transform: translatey(-300px);
    }
}